dataset/*
!dataset/.gitkeep
output/
__pycache__/

test_morton.ply
test.ply
image.png
imgui.ini
log_output.txt

test_cam_path

submodules/simple-knn/build/


submodules/simple-knn/simple_knn.egg-info

train_results